.react-calendar-custom {
    width: 100%;
    max-width: 100%;
    border: none;
    background-color: #000;
    color: #FFC436;
    border-radius: 12px;
    padding: 10px;
    font-family: sans-serif;
  }
  @media(min-width:768px){
    .react-calendar-custom{
      width: auto;
      max-width: 100%;
    }
  }
  .react-calendar-custom abbr {
    text-decoration: none;
    font-weight: bold;
  }
  .react-calendar__tile--active {
    background: #FFC436 !important;
    color: black !important;
  }
  .react-calendar__tile:enabled:hover {
    background: #FFC43640 !important;
    color: white;
    border-radius: 6px;
  }
  .booked-date{
    background: #FFC436 ;
    color:black;
    border-radius:50%
  }
  .available-date{
    background: #c6f6d5;
    border-radius: 6px;
  }